{% extends 'learning_logs/base.html' %}
{% load bootstrap4 %}

{% block page_header %}
  <h2>Log in to your account.</h2>
{% endblock page_header %}

{% block content %}
  <form action="{% url 'users:login' %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}

    {% buttons %}
      <button type="submit" class="btn btn-primary">log in</button>
    {% endbuttons %}
    <input type="hidden" name="next" value="{% url 'learning_logs:index'%}">
  </form>

  {% comment %} {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  <form action="{% url 'users:login' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">log in</button>
    <input type="hidden" name="next" value="{% url 'learning_logs:index'%}">
  </form> {% endcomment %}
{% endblock content %}
